@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
    font-family: 'Times New Roman', sans-serif;
}

.logo{
    position: relative;
    font-size: 25px;
    color: rgb(138, 95, 127);
    text-decoration: none;
    font-weight: 600;

}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

} 
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.6s;
}

.navbar a:hover {
    color: rgb(138, 95, 127);
    background: rgb(138, 95, 127);
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
}

.home {
    height: 100vh;
    background: url(2.png) no-repeat center;

    display: flex;
    align-items: center;
    padding: 100px;

}

.home-content{
    background: transparent;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
        
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}


.home-content h3 {
    position: relative;
    font-size: 34px;
    font-weight: 700;
    color: rgb(164, 214, 226);
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 18px;
    margin: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 20px 0;
}


.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box {
    position: relative;
    display: flex;
    width: 345px;
    height: 50px;
    border-radius: 5px;
    display: flex;
}
.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(138, 95, 127);
    border: 2px solid rgb(138, 95, 127);
    border-radius: 8px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;    

}

.btn-box a:nth-child(2) {
    background: rgb(0, 0, 0);
    color: rgb(138, 95, 127);

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
    background: transparent;
}


.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  #2b2b2b;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(138, 95, 127);
    border-radius: 50%;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    z-index: 1;
}


.home-sci a::before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(138, 95, 127);
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}


.home-sci a:hover::before {
    width: 100%;
    background: transparent;   
}

@keyframes showRight {
    100% {
width: 0;
    }
    
}


